footer.main-footer
    div
        div.pull-right.hidden-xs
            b Version
            | 2.4.0
        strong Copyright &copy;2017 
            a(href="#") Rainmarker Lab.
        | All rights reserved.