header.main-header
        a.logo(href="#")
            span.logo-mini
                img(src='../assets/images/logo.png' style="max-height:50px;") 
            span.logo-lg
                img(src='../assets/images/logo.png' style="max-height:50px;")

        nav.navbar.navbar-static-top(role="navigation")
            a.sidebar-toggle(href="#" data-toggle="push-menu" role="button")
                span.sr-only Toggle navigation

            //-  Navbar Right Menu 
            div.navbar-custom-menu
                ul.nav.navbar-nav

                    //-  User Account Menu
                    li.dropdown.user.user-menu

                        //-  Menu Toggle Button
                        a.dropdown-toggle(href="#" class="" data-toggle="dropdown")
                            span zxcxzczxc
                        ul.dropdown-menu

                            //- Menu Footer
                            li.user-footer
                                div.pull-left
                                    a.btn.btn-default.btn-flat Profile
                                div.pull-right
                                    button(type="button" 
                                        class="btn btn-default btn-flat") Sign out