//- Left side column. contains the logo and sidebar
aside.main-sidebar

    //-  sidebar: style can be found in sidebar.less
    section.sidebar

        //- Sidebar Menu
        ul.sidebar-menu(data-widget="tree")
            li.header MENU

            //- Optionally, you can add icons to the links -->
            li.treeview
                a(href="#")
                    i.fa.fa-tasks(aria-hidden="true")
                    span Categories
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right

                ul.treeview-menu
                    li
                        a(href="#") asd