doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Home Page
    #container.col
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.