<!DOCTYPE html>
html(lang="en")
    head
        base(src="/")
        title asasd
        meta(charset="UTF-8")
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
        //- bootstrap
        link(rel="stylesheet" type="text/css"  href="./lib/bootstrap/css/bootstrap.min.css")
        //- font-awesome
        link(rel="stylesheet" type="text/css" href="./lib/font-awesome/css/font-awesome.min.css")
        //- lte
        link(rel="stylesheet" type="text/css" href="./lib/Adminlte/AdminLTE.css")
        link(rel="stylesheet" type="text/css" href="./lib/Adminlte/skins/_all-skins.css")
        
body.skin-blue.sidebar-mini(ng-app="myApp")
    div.wrapper
        header.main-header
            a.logo(href="#")
                span.logo-mini
                    img(src="")
                span.logo-lg.pull-left
                    img(src="")
            nav.navbar.navbar-static-top(role="navigation")
                //- <!-- Sidebar toggle button-->
                a(href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button" style="margin: 0;")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                div.navbar-custom-menu
                    ul.nav.navbar-nav
                        li
                            a(href="#" target="_blank")
                                i.fa.fa-eye View Website
        //-     <!-- Left side column. contains the logo and sidebar -->
        aside.main-sidebar.sidebar-offcanvas

            //- <!-- sidebar: style can be found in sidebar.less -->
            section.sidebar
                ul.sidebar-menu
                    li.active.clearfix
                        a(href="#")
                            i.fa.fa-dashboard
                            span Dashboard
            
        div.content-wrapper
            div(ng-view)
            block content
    
    script(src="./lib/jquery/jquery.min.js")
    script(src="./lib/bootstrap/js/bootstrap.min.js")
    script(src="./lib/Adminlte/app.js")
    script(src="./lib/ckeditor/ckeditor.js")
    block script